@import url('https://fonts.googleapis.com/css2?family=DotGothic16&family=Kanit:ital@0;1&family=Playfair+Display&family=Press+Start+2P&family=Rubik:wght@600&family=Silkscreen:wght@400;700&family=VT323&display=swap');

* {
  margin: 0;
  font-family: Rubik, sans-serif;
}

:root {
  --background: #000000;
  --primary: #ffffff;
  --secondary: #f5f5f5;
  --shadow: #000000;
  --body: rgba(37,45,68,255);
  --screen: #3b4664;
  --button: #eae3db;
  --button-shadow: #b1a79f; 
  --highlight: #505050;
  --true-screen: #181f32;
}

html,body {
  height: 100%;
  margin: 0;
  overflow: hidden;
  background-color: var(--screen);
}

.main-body {
  min-height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.number-body {
  display: flex;
  flex: 1 1 auto;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 320px;
  height: 250px;
  padding-top: 20px;
  padding-bottom: 35px;
  border-radius: 3%;
  background-color: var(--body);
}

button {
  width: 60px;
  height: 45px;
  border-radius: 10px;
  background-color: var(--button);
  box-shadow: var(--button-shadow) 0px 4px;
  border: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: larger;
}

button:hover {
  background-color: var(--button);
  color: var(--highlight);
}

button:active {
  background-color: var(--button-shadow);
  box-shadow: var(--button) 0px 4px;
  color: var(--button);
}

#last-button {
  width: 130px;
}

.screen-helper,
.result {
  padding: 10px;
  text-align: right;
  height: 40px;
  width: 300px;

}


.wrapper {
  display: flex;
  background-color: var(--true-screen);
  color: var(--primary);
  justify-content: space-evenly;
  align-items: left;
  flex-direction: column;
  border-radius: 3%;
  font-size: 2rem;

}

.screen {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  row-gap: 20px;
}